DATABASE_URL="postgresql://felipa:felipa_dev@localhost:5433/felipa_dev?schema=public"

# Generar con: openssl rand -base64 32
BETTER_AUTH_SECRET="reemplazar-con-secreto-aleatorio-base64"
BETTER_AUTH_URL="http://localhost:3000"
